export PGHOST=postgres
export PGUSER= {{ env.DB_USER }}
export PGPASSWORD= {{ env.DB_PASSWORD }}
export JAVA_HOME=/usr/lib/jvm/java-7-openjdk-amd64
TOMCAT_HOME=/usr/local/tomcat

xnat_version=1.6.5

project_name=xnat
db_name= {{ env.DB_NAME }}
site_title={{ default env.XNAT_NAME XNAT }}

xnat_repo=http://repo/

data_dir= {{ env.XNAT_DIR }}
xnat_url={{ env.environment.XNAT_URL }}

# eof
